div#wrapper {
  color: #666;
  margin: 10px auto;
  background-color: #fff;
}

div#header, div#footer {
  margin: 5px;
  padding: 5px;
}

div#contents {
  float: left;
  background-color: #fff;
  margin: 5px;
  padding: 5px;
  border: solid 1px #ccc;
  width: 100%;
}

div#sub {
  float: left;
  width: 20%;
}

div#main {
  float: left;
  width: 80%;
  overflow: hidden;
}

div#footer {
  clear: both;
  text-align: center;
}

/*div#header a.signout {
  display: block;
  float: right;
}*/
