div#wrapper {
/*  width: 600px; */
  color: #666;
  margin: 10px auto;
  background-color: #fff;
}

div#header, div#footer {
  margin: 5px;
  padding: 5px;
}

div#footer {
  clear: both;
  text-align: center;
}

div#contents {
  clear: both;
  background-color: #fff;
  margin: 5px;
  padding: 5px;
  border: solid 1px #ccc;
}

/*div#header a.signout {
  display: block;
  float: right;
}*/
