ul.sidebar {
/*  width: 560px; */
  margin: 15px auto 5px;
  list-style: none;
  padding: 0;
}

ul.sidebar li {
  display: inline;
  margin-right: 1px;
  background-color: #666;
  border: solid 1px #ccc;
  padding: 5px;
}

ul.sidebar li.selected {
  background-color: #eee;
}

ul.sidebar li a {
  color: #fff;
  text-decoration: none;
}
