%h1 Bulk new group

-#= form_for @group do |f|
  .zones
    -#= field_set_tag 'Zones' do
      = f.fields_for :zones do |zone_form|
        = render 'zones/multi_form', :f => zone_form
        %p= link_to_add_fields "Add zone", f, :zones

  -#.actions
    = f.submit 'Save', :disable_with => 'Processing...'
-#= link_to 'Back', group_path(group)
