.pagination
  %b Items per page:
  = params[:per_page] == '5' ? '5' : link_to('5', zones_path(:per_page => 5))
  = params[:per_page] == '25' ? '25' : link_to('25', zones_path(:per_page => 25))
  = params[:per_page] == '50' ? '50' : link_to('50', zones_path(:per_page => 50))
  = params[:per_page].nil? ? 'all' : link_to('all', zones_path)
