.pagination
  %b Items per page:
  - count_list_per_page.each do |count|
    = params[:per_page] == count.to_s ? count : link_to(count, zones_path(:per_page => count))
  = params[:per_page].nil? ? 'all' : link_to('all', zones_path)
